nav{
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 7px 24px;
    position: absolute;
    top: 40px;
    left: 40%;
    z-index: 1;
}